body{
  color: #333;
  font-family: "游ゴシック", YuGothic, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
  font-size: 14px;
  font-weight: 500;
}
body {
  -webkit-font-smoothing: antialiased;
}

body, div, p, ul, ol, li, dl, dt, dd, table, th, td, img, figure, h1, h2, h3, h4, h5, h6, form, select{
  margin: 0;
  padding: 0;
}

p{
  display: block;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  unicode-bidi: isolate;
}

*,*::before,*::after{
  word-break: break-all;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.Header{
  width: 100%;
  }

.Header--common{
  box-shadow: 0px 15px 20px 0px rgba(0, 0, 0, 0.05);
}

.Header{
  background-color: #fff;
  display: grid;
  height: 70px;
  width: 100%;
}

.HeaderContainer{
  display: flex;
  justify-content: space-between;
  margin: 0 36px 0 36px;
  max-width: 100%;
  position: relative;
}

@media screen and (min-width:768px) {
  .HeaderLogo{
   transition: opacity 0.2s;
  }
}

.HeaderLogo{
  align-self: center;
}

a{
  color: #333;
  text-decoration: none;
}

img.lazy{
  min-height: 1px;
}

.HeaderLogo__image--pc{
    display: block;
    height: 20px;
    width: auto;
}

.HeaderLogo__image--sp{
  display: none;
  height: 16px;
  width: auto;
}

img{
  border: 0;
  vertical-align: middle;
}

.HeaderContainer>*:last-child{
  display: inline-flex;
}

ul,ol{
  list-style: none;
}

ol,ul{
  box-sizing: border-box;
}

.HeaderNavList{
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media screen and (min-width:768px) {
  .HeaderNavListItem{
    transition: opacity 0.2s;
  }
}

.HeaderNavListItem{
  margin-right: 45px;
}

.HeaderNavListItem:last-of-type{
  margin-right: 0;
}

.HeaderNavListItem__link{
  display: block;
}

.HeaderNavListItem__link>span:first-child{
  font-family: "Lato",sans-serif;
  font-size: 12px;
  line-height: 14.4px;
}

.HeaderNavListItem__link>span{
  display: block;
  font-weight: 700;
  text-align: center;
}
.HeaderNavListItem__link>span:last-child{
  font-size: 10px;
}

.HeaderNavListItem__button:hover{
  opacity: 0.8;
}

.HeaderNavListItem__button:visited{
 color: #fff;
}

.HeaderNavListItem__link:last-of-type{
  margin-right: 0;
}

@media screen and (min-width:768px) {
  .HeaderNavListItem__button{
    transition: opacity 0.2s;
  }
}

.HeaderNavListItem__button{
  align-items: center;
  background-color: #F79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
  font-size: 12px;
  height: 40px;
  padding: 0 20px;
}

section{
  display: block;
  unicode-bidi: isolate;
}

.FirstView{
  position: relative;
  height: 739px;
}

.FirstView__bg-image{
  position: absolute;
  z-index: -1;
}

.FirstView__bg-image-left-rectangle{
  top: -70px;
  left: 0;
}

.FirstView__bg-image-right-rectangle{
  right: 0;
  bottom: 70px;
}

.FirstView__bg-image-fill-rectangle{
  top: 84px;
  left: -70px;
}

.FirstView__bg-image-main-visual{
  top: -70px;
  right: 0;
  width: 775px;
}

.FirstView__whole-image{
  display: none;
}

.FirstView__container{
  max-width: 1040px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding-top: 219px;
}

.FirstViewContent{
  position: relative;
  width: fit-content;
}

.FirstViewContent__title{
  color: #333;
  font-family: "Lato",sans-serif;
  font-size: 42px;
  font-weight: 800;
  line-height: 63px;
  margin-bottom: 16px;
}

.FirstViewContent__badge-image{
  position: absolute;
  top: -105px;
  right: -150px;
}

.FirstViewContent__button{
  align-items: center;
  background-color: #F79214;
  border: none;
  border-radius: 38px;
  color: #fff;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  font-size: 16px;
  font-weight: 700;
  height: 64px;
  justify-content: center;
  text-decoration: none;
  text-align: center;
  width: 100%;
  margin-bottom: 16px;
}

@media screen and (min-width: 768px){
 .FirstViewContent__button{
  transition: opacity;
 }
}

.FirstViewContent__button:hover{
  opacity: 0.8;
}

.FirstViewContent__button:visited{
  color: #fff;
}

.FirstViewContent__caption{
  font-size: 12px;
  line-height: 16px;
}

p{
  color: #333;
}
